@using LifeNTrack.Models
@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/UserLayout.cshtml";
    var announceList = ViewData["AnnouncementList"] as IEnumerable<Announcement>;
    var sortedAnnounceList = announceList.OrderBy(u => u.AnnounceAt);
}


<div class="pagetitle">
    <h1>Announcements</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.php">Home</a></li>
            <li class="breadcrumb-item active">Announcements</li>
        </ol>
    </nav>
</div>


<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            @{
                foreach (var an in sortedAnnounceList)
                {
                    <div class="card anouncement-list-item">
                        <div class="card-body">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@an.Title</h5>
                                <small class="text-muted">@an.AnnounceAt</small>
                            </div>
                            @an.Message
                        </div>
                    </div>

                }
            }


        </div>

        <div class="col-lg-4 right">
            <?php include_once('../../components/recent-profile.php'); ?>

        </div>
    </div>
</section>

