
@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="pagetitle">
    <h1>People</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.php">Home</a></li>
            <li class="breadcrumb-item active">People</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class=" col-lg-12">
                <!-- <div class="card"> -->
                <div class="card-body">
                    <h5 class="card-title">Following</h5>

                    <!-- List group with custom content -->
                    <div class="friend-list row">

                      
                        <div class="col-xxl-4 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <a href="user-page.php?user=<?= $row['userID'] ?>">
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-bx"><i class="ri-account-circle-fill"></i></div>
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">Name</div>
                                                    <span class="badge bg-primary rounded-pill">0</span> activities
                                                </div>
                                            </div>
                                            <a href="">
                                                <button type="button" class="btn btn-outline-dark rounded-pill">Following</button>
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div><!-- End with custom content -->

                </div>
                <!-- </div> -->
            </div>
            <div class=" col-lg-12">
                <!-- <div class="card"> -->
                <div class="card-body">
                    <h5 class="card-title">People You May Know</h5>

                    <!-- List group with custom content -->
                    <div class="friend-list row">

                     
                        <div class="col-xxl-4 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <a href="user-page.php?user=<?= $row['userID'] ?>">
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="lft d-flex align-items-center">
                                                <div class="icon-bx"><i class="ri-account-circle-fill"></i></div>
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">Name</div>
                                                    <span class="badge bg-primary rounded-pill">0</span> activities
                                                </div>
                                            </div>
                                            <a href="../../../server/controllers/UfollowUser.php?user-id=<?= $row['userID'] ?>">
                                                <button type="button" class="btn btn-primary rounded-pill"><i class="ri-add-line"></i>Follow</button>
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                  
                    </div><!-- End with custom content -->

                </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="col-lg-4 right">
            <?php include_once('../../components/recent-profile.php'); ?>

        </div>
    </div>
</section>