
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.php">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class="welcome-message card col-lg-12">
                <div class="message">
                    <h3>Welcome, <b>@ViewData["UserName"]!</b> </h3>
                    <p>We're delighted to have you here. Let's get started on your journey to productivity and success."</p>
                    <button type="button" class="btn btn-primary rounded-pill activity-btn" data-toggle="modal" data-target="#add-activity-modal">Add Activity</button>
                </div>
                <div class="col-lg-6 img">
                    <img src="/Images/dash.png" alt="">
                </div>

            </div>

            <h5 class="card-title">Activity Updates</h5>
            <div class="row">


                <!-- Activities Upcoming Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">


                        <div class="card-body">

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-calendar2-week"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>9</h6>
                                    <!-- <span class="text-success small pt-1 fw-bold">12%</span>  -->
                                    <span class="text-muted small pt-2 ps-1">Upcoming</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Activities Completed Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-calendar2-check"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>7</h6>
                                    <span class="text-muted small pt-2 ps-1">Completed</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Activities Cancelled Card -->
                <div class="col-xxl-4 col-xl-12">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-calendar2-x"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>0</h6>
                                    <!-- <span class="text-danger small pt-1 fw-bold">12%</span> -->
                                    <!-- <span class="text-danger small pt-1 fw-bold">Cancelled</span> -->
                                    <span class="text-muted small pt-2 ps-1">Cancelled</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- bar chart -->
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">My Activities</h5>

                    <!-- Bar Chart -->
                    <canvas id="barChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 242px; width: 485px;" width="485" height="242"></canvas>
                    <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new Chart(document.querySelector('#barChart'), {
                                        type: 'bar',
                                        data: {
                                            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                                            datasets: [{
                                                label: 'My Activities',
                                                data: [1, 2, 3, 443 , 34, 23, 2, 2, 2, 8, 45,4],
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 0.2)',
                                                    'rgba(255, 159, 64, 0.2)',
                                                    'rgba(255, 205, 86, 0.2)',
                                                    'rgba(75, 192, 192, 0.2)',
                                                    'rgba(54, 162, 235, 0.2)',
                                                    'rgba(153, 102, 255, 0.2)',
                                                    'rgba(201, 203, 207, 0.2)'
                                                ],
                                                borderColor: [
                                                    'rgb(255, 99, 132)',
                                                    'rgb(255, 159, 64)',
                                                    'rgb(255, 205, 86)',
                                                    'rgb(75, 192, 192)',
                                                    'rgb(54, 162, 235)',
                                                    'rgb(153, 102, 255)',
                                                    'rgb(201, 203, 207)'
                                                ],
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                });
                    </script>
                    <!-- End Bar CHart -->

                </div>
            </div>
        </div>



        <div class="col-lg-4 right">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">My Activities</h5>
                    <div class="img-bx">
                        <img src="/Images/slider-dec.png" alt="">
                    </div>

                    <div class="activity" style="margin-top: 30px;">

                        <div class="activity-item d-flex">
                            <div class="activite-label">
                                6 min
                            </div>
                            '<i class="bi bi-circle-fill activity-badge text-primary align-self-start"></i>
                            <!-- <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i> -->
                            <div class="activity-content">
                                tikwejwh
                            </div>
                        </div>

                    </div>

                </div>

                <button type="button" class="btn btn-primary rounded-pill activity-btn" data-toggle="modal" data-target="#add-activity-modal">Add Activity</button>
            </div>

        </div>

    </div>


</section>
